<%- include("../includes/header") %> 

<% if (homeworks.length > 0) { %>
    

<div class="container">
    <div class="row">
            <!-- LIST -->
            <div class="col-md-8">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Titulo</th>
                            <th>Descripcion</th>
                            <th>Fecha de entrega</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < homeworks.length; i++) { %>
                            <tr>
                                <td><%= i + 1 %> </td>
                                <td><a href="/homeworks/<%= homeworks[i]._id %> " > <%= homeworks[i].title %> 
                                </a> </td>
                                <td><%= homeworks[i].description %> </td>
                                <td><%= homeworks[i].end %> </td>
                                <td>
                                    <form action="/homeworks/delete/<%= homeworks[i]._id %>?_method=DELETE" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button class="btn btn-danger btn-xs" type="submit">Eliminar</button>
                                    </form>
                                </td>
                                
                            </tr>
                     <%  } %>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
<% } %> 
<%- include("../includes/footer") %>
