<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EduCa</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico">

    <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">

    <head>
        <script src="https://kit.fontawesome.com/f8294d8a77.js" crossorigin="anonymous"></script>
    </head>

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/public/css/plugins/icofont.min.css">
    <link rel="stylesheet" href="/public/css/plugins/flaticon.css">
    <link rel="stylesheet" href="/public/css/plugins/font-awesome.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/public/css/plugins/animate.min.css">
    <link rel="stylesheet" href="/public/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="/public/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/public/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/public/css/plugins/apexcharts.css">
    <link rel="stylesheet" href="/public/css/plugins/jqvmap.min.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- SCRIPTS-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" href="/public/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="/public/css/style.min.css"> -->

</head>

<body>

    <div class="main-wrapper main-wrapper-02">

        <!-- Login Header Start -->
        <div class="section login-header">
            <!-- Login Header Wrapper Start -->
            <div class="login-header-wrapper navbar navbar-expand">

                <!-- Header Logo Start -->
                <div class="login-header-logo">
                    <a href="/home"><img src="/public/images/logo-icon.png" alt="Logo"></a></li>
                </div>
                <!-- Header Logo End -->

                <!-- Header Search Start -->
                <div class="login-header-search dropdown">
                  

                </div>
                <!-- Header Search End -->

                <!-- Header Action Start -->
                <div class="login-header-action ml-auto">

                    <a class="action author" href="/users/<%= user._id %>">
                        <img src="/public/images/author/author-07.jpg" alt="Author">
                    </a>

                    <div class="dropdown">
                        <button class="action more" data-bs-toggle="dropdown">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="" href="/users/edit/<%= user._id %>"><i class="icofont-user"></i> Editar perfil </a></li>
                            <li><a class="" href="/auth/logout"><i class="icofont-logout"></i> Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Header Action End -->

            </div>
            <!-- Login Header Wrapper End -->
        </div>
        <!-- Login Header End -->

        <!-- Courses Admin Start -->
        <div class="section overflow-hidden position-relative" id="wrapper">

            <!-- Sidebar Wrapper Start -->
            <div class="sidebar-wrapper">
                <div class="menu-list">
                    <a class="active" href="/homeworks"><img src="/public/images/menu-icon/icon-1.png" alt="Icon"></a>
                    <a href="/images"><img src="/public/images/menu-icon/icon-2.png" alt="Icon"></a>
                    <a href="/simulator"><img src="/public/images/menu-icon/icon-3.png" alt="Icon"></a>
                </div>
            </div>
            <!-- Sidebar Wrapper End -->

            <div class="page-content-wrapper py-0">
                
                <div class="main-content-wrapper mt-0"></div>
                    <div class="container-fluid">

                        <!-- Student Top Start -->
                        <div class="admin-top-bar students-top">
                            <div class="courses-select">
                                <select>
                                    <option data-display="Todas las asignaciones">Todas las asignaciones</option>
                                    <option value="1">Pagina 1</option>
                                    <option value="2">Pagina 2</option>
                                    <option value="3">Pagina 3</option>
                                    <option value="4">Pagina 4</option>
                                </select>

                                <h4 class="title">Aqui puedes ver todas las asignaciones que se encuentran disponible </h4>
                            </div>

                        </div>
                        <!-- Student Top End -->
                        <% if (homeworks.length > 0) { %>

                        <!-- Student's Wrapper Start -->
                        <div class="students-wrapper students-active">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <% for (var i = 0; i < homeworks.length; i++) { %>
                                    <div class="swiper-slide">
                                        <!-- Single Student Start -->
                                        <div class="single-student">
                                            <div class="student-images">
                                                <img src="/public/images/author/author-01.jpg" alt="Author">
                                            </div>
                                            <div class="student-content">
                                                <h5 class="name"><a href="/homeworks/<%= homeworks[i]._id %> " ><%= homeworks[i].title %> </h5></a>
                                                <span class="date">
                                                <p><%= homeworks[i].description %></p>
                                                <span class="date"><i class="icofont-ui-calendar"></i><%= homeworks[i].end %> </span>
                                            </div>
                                        </div>
                                        <!-- Single Student End -->
                                    </div>
                                    <% } %>
                                
                                    
                                </div>

                                <div class="students-arrow">
                                    <!-- Add Pagination -->
                                    <div class="swiper-button-prev"><i class="icofont-rounded-left"></i></div>
                                    <div class="swiper-button-next"><i class="icofont-rounded-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">¡No hay asignaciones aún! </h5>
                                            <p class="card-text">Añade una asignación para ver que tanto han avanzado los alumnos</p>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>




                        <!-- Student's Wrapper End -->

                        <!-- Student's Map Start -->

                        <!-- Student's Map End -->

                        <!-- Student's Widget Start -->
                       
                        <!-- Student's Widget End -->

                        <!-- New Courses Start -->
                        <div class="new-courses" style="background-image: url(/public/images/new-courses-banner.jpg);">
                            <div class="new-courses-title">
                                <h3 class="title">¿Quieres aprender mas? <br> Considera este panel donde ofrecemos muchas cosas interesantes sobre comunicaciones</h3>
                            </div>
                            <img class="shape d-none d-xl-block" src="/public/images/shape/shape-27.png" alt="Shape">
                            <div class="new-courses-btn">
                                <a href="/edx.com" class="btn">Cursos<i class="icofont-rounded-right"></i></a>
                            </div>
                        </div>
                        <!-- New Courses End -->

                    </div>
                </div>
                <!-- Page Content Wrapper End -->

            </div>

        </div>
        <!-- Courses Admin End -->

        <!-- Footer Start  -->
        <div class="section footer-section">

            <!-- Footer Widget Section Start -->
           
            <!-- Footer Widget Section End -->

            <!-- Footer Copyright Start -->
            <div class="footer-copyright">
                <div class="container">

                    <!-- Footer Copyright Start -->
                    <div class="copyright-wrapper">
                        <div class="copyright-link">
                            <a href="#">Terms of Service</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Sitemap</a>
                            <a href="#">Security</a>
                        </div>
                        <div class="copyright-text">
                            <p>&copy; 2021 <span> Edule </span> Made with <i class="icofont-heart-alt"></i> by <a href="#">Codecarnival</a></p>
                        </div>
                    </div>
                    <!-- Footer Copyright End -->

                </div>
            </div>
            <!-- Footer Copyright End -->

        </div>
        <!-- Footer End -->

        <!--Back To Start-->
        <a href="#" class="back-to-top">
            <i class="icofont-simple-up"></i>
        </a>
        <!--Back To End-->

    </div>






    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="/public/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="/public/js/vendor/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="/public/js/plugins/popper.min.js"></script>
    <script src="/public/js/plugins/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="/public/js/plugins/swiper-bundle.min.js"></script>
    <script src="/public/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="/public/js/plugins/video-playlist.js"></script>
    <script src="/public/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/public/js/plugins/ajax-contact.js"></script>

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="/public/js/plugins.min.js"></script> -->


    <!-- Main JS -->
    <script src="/public/js/main.js"></script>

    <!-- Charts JS -->
    <script src="/public/js/plugins/jquery.vmap.min.js"></script>
    <script src="/public/js/plugins/jquery.vmap.world.js"></script>
    <script src="/public/js/plugins/jquery.vmap.sampledata.js"></script>
    <script src="/public/js/student-map.js"></script>

        <!-- Main JS -->
        <script src="/public/js/main.js"></script>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    

</body>

</html>