<%- include("../includes/header") %> 

<div class="col-md-8">
    <div class="class-header bg-dark text-white">
         <h5><i class="fas fa-list"></i>Tarea disponible </h5>
    </div>
    <div class="card text-white bg-primary mb-8" >
        <div class="card-body">
            <h5 class="card-title">Titulo: <%= homework.title %></h5> 
            <p class="card-text"> Descripcion: <%= homework.description %></p>
            <p class="card-title"> Estado: <%= homework.active %></p>
            <p class="card-title"> Fecha de inicio: <%= homework.start %>  </p>
            <p class="card-title"> Fecha de culminacion: <%= homework.end %>  </p>
          
          
          <div class="form-group">
            <div class="input-group">
                <div class="custom-file">
                 <input type="file" name="image" class="custom-file-input" id="inputGroupFile04"
                        aria-describedby="inputGroupFileAddon04">
                <label class="custom-file-label" for="inputGroupFile04">Seleccionar archivo</label>
                </div>
            </div>
        </div>
        </div>
      </div>

</div>
<div class="col-md-8">
    <div class="card mb-4">
    <div class="card-header bg-dark">
        <h3 class="card-title text-white">
            <i class="fas fa-tasks"></i> Respuestas a la tarea
        </h3>
    </div>
        <div class="col-md-7">
            <table class="table">
                <thead class="thead-dark">
                <thead>
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col">Expediente</th>
                        <th scope="col">Titulo de Tarea </th>
                        <th scope="col">Calificacion</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < answers.length; i++) { %>
                        <tr>
                            <td><a href="/homeworks/<%= answers[i]._id %> " > <%= answers[i].student.name %> </a> 
                            <td><%= answers[i].student.exp %></td>
                            <td><%= answers[i].description %> </td>
                            <td>
                                <div class="form-group">
                                    <input type="number" name="score" placeholder="0/10" class="form-control">
                                </div>
                            </td>
                        </tr>
                 <%  } %>
                </tbody>
                
            </table>
        </div>

    </div>
</div>

</div>

<%- include("../includes/footer") %> 