<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EduCA</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico">

    <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">

    <head>
        <script src="https://kit.fontawesome.com/f8294d8a77.js" crossorigin="anonymous"></script>
    </head>

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/public/css/plugins/icofont.min.css">
    <link rel="stylesheet" href="/public/css/plugins/flaticon.css">
    <link rel="stylesheet" href="/public/css/plugins/font-awesome.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/public/css/plugins/animate.min.css">
    <link rel="stylesheet" href="/public/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="/public/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/public/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/public/css/plugins/apexcharts.css">
    <link rel="stylesheet" href="/public/css/plugins/jqvmap.min.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- SCRIPTS-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    <script src="/public/js2/scripts.js" charset="UTF-8"></script>

</head>

<body>

    <div class="main-wrapper main-wrapper-1">

        <!-- Login Header Start -->
        <div class="section login-header">
            <!-- Login Header Wrapper Start -->
            <div class="login-header-wrapper navbar navbar-expand">

                <!-- Header Logo Start -->
                <div class="login-header-logo">
                    <a href="/home"><img src="/public/images/logo-icon.png" alt="Logo"></a></li>
                </div>
                <!-- Header Logo End -->

                <!-- Header Search Start -->
                <div class="login-header-search dropdown">
                   

                </div>
                <!-- Header Search End -->

                <!-- Header Action Start -->
                <div class="login-header-action ml-auto">

                    <a class="action author" href="/users/<%= user._id %>">
                        <img src="/public/images/author/author-07.jpg" alt="Author">
                    </a>

                    <div class="dropdown">
                        <button class="action more" data-bs-toggle="dropdown">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="" href="/users/edit/<%= user._id %>"><i class="icofont-user"></i> Editar perfil </a></li>
                            <li><a class="" href="/auth/logout"><i class="icofont-logout"></i> Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Header Action End -->

            </div>
            <!-- Login Header Wrapper End -->
        </div>
        <!-- Login Header End -->

        <!-- Courses Admin Start -->
        <div class="section overflow-hidden position-relative" id="wrapper">

            <!-- Sidebar Wrapper Start -->
            <div class="sidebar-wrapper float-left">
                <div class="menu-list">
                    <a class="active" href="/admin/homeworks"><img src="/public/images/menu-icon/icon-1.png" alt="Icon"></a>
                    <a href="/images"><img src="/public/images/menu-icon/icon-2.png" alt="Icon"></a>
                    <a href="/simulator"><img src="/public/images/menu-icon/icon-3.png" alt="Icon"></a>
                </div>
            </div>
            <!-- Sidebar Wrapper End -->

            <div class="page-content-wrapper py-100">

                <!-- Admin Tab Menu Start -->

                <!-- Admin Tab Menu End -->

                <!-- Page Content Wrapper Start -->
                <div class="main-content-wrapper">
                    <div class="container-fluid">

                        <!-- Admin Top Bar Start -->

                        <!-- Admin Top Bar End -->

                        <!-- Message Start -->
                        
                        <!-- Message End -->

                        <!-- Courses Rating Wrapper Start -->
                        <div class="courses-rating-wrapper py-10">

                            <!-- Single Courses Rating Start -->
                            <div class="courses-rating-wrapper py-10">

                                <!-- Single Courses Rating Start -->
                                <div class="col-md-8 mx-auto">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Edita tu perfil</h3>
                                        </div>
                                        <div class="card-body">
                                                <form action="/users/edit/<%= user.id %>?_method=PUT" method="POST">
                                                        <input type="hidden" name="_method" value="PUT">
                                                        <input type="hidden" name="_token" value="{{ csrf_token() }}">
                                                        <div class="form-group">
                                                            <label for="name">Nombre</label>
                                                            <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="email">Email</label>
                                                            <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="password">Contraseña</label>
                                                            <input type="password" class="form-control" id="password" name="password">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="password_confirmation">Confirmar contraseña</label>
                                                            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation">
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                                    </form>
                                        </div>
                                    </div>
                                </div>

                            
                            
                            <!-- Single Courses Rating End -->


                        </div>
                        <!-- Courses Rating Wrapper End -->

                    </div>
                </div>
                <!-- Page Content Wrapper End -->

            </div>

        </div>
        </div>
        
        <!-- Courses Admin End -->

        <!-- Footer Start  -->
        <div class="section footer-section">

            <!-- Footer Widget Section Start -->
            
            <!-- Footer Widget Section End -->

            <!-- Footer Copyright Start -->
            <div class="footer-copyright">
                <div class="container">

                    <!-- Footer Copyright Start -->
                    <div class="copyright-wrapper">
                        <div class="copyright-link">
                            <a href="#">Terms of Service</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Sitemap</a>
                            <a href="#">Security</a>
                        </div>
                        <div class="copyright-text">
                            <p>&copy; 2021 <span> Edule </span> Made with <i class="icofont-heart-alt"></i> by <a
                                    href="#">Codecarnival</a></p>
                        </div>
                    </div>
                    <!-- Footer Copyright End -->

                </div>
            </div>
            <!-- Footer Copyright End -->

        </div>
        <!-- Footer End -->

        <!--Back To Start-->
        <a href="#" class="back-to-top">
            <i class="icofont-simple-up"></i>
        </a>
        <!--Back To End-->

    </div>







    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="/public/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="/public/js/vendor/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="/public/js/plugins/popper.min.js"></script>
    <script src="/public/js/plugins/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="/public/js/plugins/swiper-bundle.min.js"></script>
    <script src="/public/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="/public/js/plugins/video-playlist.js"></script>
    <script src="/public/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/public/js/plugins/ajax-contact.js"></script>

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="/public/js/plugins.min.js"></script> -->


    <!-- Main JS -->
    <script src="/public/js/main.js"></script>

    <script src="/public/js/main.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">



<!-- Custom code -->

<script src="/public/js/scripts.js" charset="UTF-8"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

</body>

</html>