<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EduCa</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico">

    <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">

    <head>
        <script src="https://kit.fontawesome.com/f8294d8a77.js" crossorigin="anonymous"></script>
    </head>

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/public/css/plugins/icofont.min.css">
    <link rel="stylesheet" href="/public/css/plugins/flaticon.css">
    <link rel="stylesheet" href="/public/css/plugins/font-awesome.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/public/css/plugins/animate.min.css">
    <link rel="stylesheet" href="/public/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="/public/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/public/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/public/css/plugins/apexcharts.css">
    <link rel="stylesheet" href="/public/css/plugins/jqvmap.min.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- SCRIPTS-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    <script src="/public/js2/scripts.js" charset="UTF-8"></script>

</head>

<body>

    <div class="main-wrapper main-wrapper-02">

        <!-- Login Header Start -->
        <div class="section login-header">
            <!-- Login Header Wrapper Start -->
            <div class="login-header-wrapper navbar navbar-expand">

                <!-- Header Logo Start -->
                <div class="login-header-logo">
                    <a href="/home"><img src="/public/images/logo-icon.png" alt="Logo"></a></li>
                </div>
                <!-- Header Logo End -->

                <!-- Header Search Start -->
                <div class="login-header-search dropdown">

        
                </div>
                <!-- Header Search End -->

                <!-- Header Action Start -->
                <div class="login-header-action ml-auto">
                    

                    <a class="action author" href="/users/<%= user._id %>">
                        <img src="/public/images/author/author-07.jpg" alt="Author">
                    </a>

                    <div class="dropdown">
                        <button class="action more" data-bs-toggle="dropdown">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="" href="/users/edit/<%= user._id %>"><i class="icofont-user"></i> Editar perfil </a></li>
                            <li><a class="" href="/auth/logout"><i class="icofont-logout"></i> Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Header Action End -->

            </div>
            <!-- Login Header Wrapper End -->
        </div>
        <!-- Login Header End -->

        <!-- Courses Admin Start -->
        <div class="section overflow-hidden position-relative" id="wrapper">

            <!-- Sidebar Wrapper Start -->
            <div class="sidebar-wrapper">
                <div class="menu-list">
                    <a class="active" href="/admin/homeworks"><img src="/public/images/menu-icon/icon-1.png" alt="Icon"></a>
                    <a href="/images"><img src="/public/images/menu-icon/icon-2.png" alt="Icon"></a>
                    <a href="/simulator"><img src="/public/images/menu-icon/icon-3.png" alt="Icon"></a>
                </div>
            </div>
            <!-- Sidebar Wrapper End -->

            <!-- Page Content Wrapper Start -->
            <div class="page-content-wrapper">
                <div class="container-fluid custom-container">

                    <!-- Message Start -->
                    <div class="message">
                        <div class="message-icon">
                            <img src="/public/images/menu-icon/icon-6.png" alt="">
                        </div>
                        <div class="message-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
                        </div>
                    </div>
                    <!-- Message End -->

                    <!-- Admin Courses Tab Start -->
                    <div class="admin-courses-tab">
                        <h3 class="title">Asignaciones </h3>

                        <div class="courses-tab-wrapper">
                            <div class="courses-select">
                                <select>
                                    <option data-display="Newest First">Newest First</option>
                                    <option value="1">Oldest First</option>
                                </select>
                            </div>

                            <div class="tab-btn">
                                <a href="/homework/new-homework" class="btn btn-primary btn-hover-dark">Nueva Asignación</a>
                            </div>
                        </div>
                    </div>
                    <!-- Admin Courses Tab End -->

                    <!-- Admin Courses Tab Content Start -->
                    <% for (var i=0; i< homeworks.length; i++) {%>
                    <div class="admin-courses-tab-content">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab1">

                                <!-- Courses Item Start -->
                                <div class="courses-item">
                                    <div class="item-thumb">
                                        <a href="#">
                                            <img src="/public/images/courses/admin-courses-01.jpg" alt="Courses">
                                        </a>
                                    </div>

                                    <div class="content-title">
                                        <h3 class="title"><a href="/homeworks/<%= homeworks[i]._id %> "><%= homeworks[i].title %></a></h3>
                                    </div>

                                    <div class="content-wrapper">

                                        <div class="content-meta">
                                            <a href="/homeworks/turn/<%= homeworks[i]._id %>"><span class="<%= homeworks[i].active ? 'btn btn-success' : 'btn btn-dark'%>">Activa</span></a>
                                        </div>

                                        <div class="content-box">
                                            <span class="count" > <a href="/homeworks/edit/<%= homeworks[i]._id %> ">Editar</a></span>
                                        </div>

                                        <div class="content text-center">
                                            
                                            <form action="/homeworks/delete/<%= homeworks[i]._id %>?_method=DELETE"
                                                method="POST">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button class="btn btn-danger btn-block btn-sm" type="submit">Eliminar
                                                </button>
                                            </form>
                                            </span>
                                        </div>

                                        <div class="courses-select">
                                            <select>
                                                <option data-display="This Month">This Month</option>
                                                <option value="1">This Year</option>
                                                <option value="2">This Week</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <!-- Courses Item End -->

                            </div>
                        </div>
                    </div>
                    <% } %> 



                </div>
            </div>
            <!-- Page Content Wrapper End -->

        </div>


        <!-- Footer Start  -->
        <div class="section footer-section">

            <!-- Footer Widget Section Start -->
           
            <!-- Footer Widget Section End -->

            <!-- Footer Copyright Start -->
            <div class="footer-copyright">
                <div class="container">

                    <!-- Footer Copyright Start -->
                    <div class="copyright-wrapper">
                        <div class="copyright-link">
                            <a href="#">Terms of Service</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Sitemap</a>
                            <a href="#">Security</a>
                        </div>
                        <div class="copyright-text">
                            <p>&copy; 2021 <span> Edule </span> Made with <i class="icofont-heart-alt"></i> by <a href="#">Codecarnival</a></p>
                        </div>
                    </div>
                    <!-- Footer Copyright End -->

                </div>
            </div>
            <!-- Footer Copyright End -->

        </div>
        <!-- Footer End -->

        <!--Back To Start-->
        <a href="#" class="back-to-top">
            <i class="icofont-simple-up"></i>
        </a>
        <!--Back To End-->

    </div>






    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="/public/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="/public/js/vendor/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="/public/js/plugins/popper.min.js"></script>
    <script src="/public/js/plugins/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="/public/js/plugins/swiper-bundle.min.js"></script>
    <script src="/public/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="/public/js/plugins/video-playlist.js"></script>
    <script src="/public/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/public/js/plugins/ajax-contact.js"></script>

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="/public/js/plugins.min.js"></script> -->


    <!-- Main JS -->
    <script src="/public/js/main.js"></script>

    <script src="/public/js/main.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">



<!-- Custom code -->

<script src="/public/js/scripts.js" charset="UTF-8"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</body>

</html>